.wrapper {
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #e0e0e0;
  width: 100%;
  margin: 0;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 3;

  .header-box {
    width: 80%;
    margin: 0 auto;

    .name-icon {
      padding-top: 30px;
      font-weight: bold;
      letter-spacing: 1.5px;
      font-size: 15px;
      color: #fff;
      text-shadow: 0 0 2px #fff, 0 0 15px #fff;
    }

    .menu-icon {
      background-color: transparent;
      border: none;
      float: right;
      outline: none !important;
      cursor: pointer;
      padding: 30px 10px 0 0;

      & > span {
        width: 35px;
        height: 3px;
        display: block;
        margin-bottom: 9px;
        transition: transform 0.7s;
        background-color: #fff;
        text-shadow: 0 0 10px #fff, 0 0 15px #fff;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .mobile-menu {
      float: right;
      width: 35px;
      height: 3px;
      display: block;
      padding-top: 60px;

      li {
        list-style: none;
        padding-top: 20px;

        a {
          text-decoration: none;
          color: black;
          text-shadow: 0 0 10px black, 0 0 15px #fff;
          font-family: "Hind", sans-serif;
          font-weight: lighter;
        }
      }
    }
  }
}

.title {
  width: 100%;
  height: 300px;
  padding-top: 80px;

  h1 {
    box-sizing: border-box;
    margin: 0 auto;
    height: 180px;
    width: 100%;
    padding-top: 50px;

    span {
      display: block;
      text-align: center;
      height: 100%;
      font-size: 80px;
      font-family: "Hind", sans-serif;
      font-weight: lighter;
      letter-spacing: 15px;
      line-height: 90px;
      color: #fff;
      text-shadow: 0 0 2px #fff, 0 0 10px #fff;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 600px;

  .swiper-slide {
    text-align: center;
  }
  img {
    width: 500px;
    height: 500px;
  }

  .swiper-button-prev {
    color: black;
    margin-left: 200px;
  }
  .swiper-button-next {
    color: black;
    margin-right: 200px;
  }
}

.music-content {
  height: 500px;
  text-align: center;
  background-color: #cccccc;

  .music-container {
    height: 100%;
    padding: 150px;

    div {
      padding: 60px;
      display: flex;
      display: inline-block;
      flex-direction: row;

      a {
        color: #eeeeee;
        text-shadow: 0 0 2px #fff, 0 0 1px #eeeeee;

        i {
          cursor: pointer !important;

          &:hover {
            transform: scale(1.3);
            transition-duration: 0.5s;
            transition-timing-function: ease;
          }
        }
      }
    }
  }
}

.bio-content {
  width: 100%;
  height: 500px;
  background-color: #e0e0e0;

  div {
    width: 100%;
    padding: 50px 0;

    h1 {
      text-align: center;
      font-family: "Hind", sans-serif;
      font-weight: lighter;
      letter-spacing: 15px;
      color: black;
      text-shadow: 0 0 10px black, 0 0 10px #fff;
    }

    p {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      font-family: "Hind", sans-serif;
      font-weight: lighter;
      letter-spacing: 5px;
      line-height: 40px;
    }
  }
}

.contact-content {
  width: 100%;
  height: 600px;
  background-color: #cccccc;

  .contact-container {
    height: 300px;
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;

    h1 {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      font-family: "Hind", sans-serif;
      font-weight: lighter;
      letter-spacing: 15px;
      color: black;
      text-shadow: 0 0 10px black, 0 0 10px #fff;
    }

    form {
      height: 400px;

      textarea {
        width: 20%;
        display: block;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      input {
        width: 20%;
        height: 30px;
        display: block;
        margin: 30px auto;
        border: 1px solid #ccc;
        border-radius: 5px;

        &:last-child {
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  div {
    text-align: center;
  }
  small {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}
